.App {
  text-align: center;
}
/* 기기마다 적용법 vw(view width), vh 사용 */
.box {
  box-sizing: border-box;
}
body {
  width: 590px;
}
.Title {
  display: flex;
  justify-content: center;
  background: black;
  width: 100%;
  color: white;
}

.set {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
  background-color: gray;
  border-radius: 5px;
  top: 30px;
  position: relative;
  box-sizing: border-box;
  width: 530px;
  height: 70px;
  font-size: 30px;
}
#set_title {
  margin: 10px 10px 10px 10px;
}
#set {
  width: 180px;
  margin: 10px 10px 10px 10px;
  background-color: gray;
  border: none; 
  font-size: 40px;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 0px;
}
#up {
  background: url(../public/up.png) no-repeat;
  background-size: cover;
  width: 62px;
  height: 30px;
  flex-direction: row-reverse;
}
#down {
  background: url(../public/down.png);
  background-size: cover;
  width: 62px;
  height: 30px;
}

.SELECT_MAIL {
  display: flex;
  margin: 40px 30px 0px 30px;
  width: 530px;
  height: 250px;
}

.MailtoSend {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 5px;
  width: 260px;
  margin-right: 5px;
}

.MailtoGet {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 5px;
  width: 260px;
  margin-left: 5px;
}

.MAILS {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.MAILS::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
} 

input.img-NO{
  background: url(https://i.namu.wiki/i/mMl3qzW9Ass5NzprmpE86i1ORmUQU7KXqMpjawVi1IB9YuO0cJKxBUU6XgTU09OPeu3ox-IFELLwdimec5fvMw.webp);
  background-size: cover;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  margin-right: 5px;
}
input.img-AD{
  background: url(https://i.namu.wiki/i/E5Z1JIXkPWzVG8ik_fQAa390BMRnRfulvi7f37uYzSGHC-J6Lgzifnx3GbVrvbU9gga-7f6w045ErABQAnayKw.webp);
  background-size: cover;  
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  margin-right: 5px;
}
input.img-DI{
  background: url(https://i.namu.wiki/i/3K8pUb511PvpsounAqPSOMSX-LTXzVJC3HBMN4K__2RvZICfW9bnxBU3QwVpuLbei1Dh0KFdkBV9hnPcx5swRQ.webp);
  background-size: cover;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  margin-right: 5px;
}
input.img-SU{
  background: url(https://i.namu.wiki/i/X_JFqd9DGE5yozJlQRqJAPEbviSyeeHjjiGztPBi9YmoHYkklIPMBuJcI_vvgrnP-PKGuUQGIrjGZ5TKvLAsxA.webp);
  background-size: cover;
  background-color: white;
  width: 70px;
  height: 70px;
  padding: 0px 0px 0px 0px;
  border-radius: 3px;
  /* margin-right: 5px; */
  /* 위에 다음 엽서가 오는지에 따라 온오프되게 설정할 예정 */
}

.summary_box {
  background-color: #dcdcdc;
  width: 240px;
  height: 102px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3%;
}

.guildbuf {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
  background-color: gray;
  border-radius: 5px;
  top: 10px;
  position: relative;
  box-sizing: border-box;
  width: 530px;
  height: 200px;
}

.grade {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 10px;
  width: 120px;
}

.level {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
  width: 120px;
}

.pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}

.rate {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 5px;
  width: 120px;
}

input.img-POP_X{
  background: url(../public/유명세x.jpg) no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.result_box {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
  margin-left: 30px;
  background-color: gray;
  border-radius: 5px;
  top: 30px;
  position: relative;
  box-sizing: border-box;
  width: 530px;
  height: 200px;
}

.TabMenu {
  color: rgb(232, 234, 237);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 330px;
  height:40px;
  margin: 5px 0px 0px 5px;

  .submenu {
    /* 기본 Tabmenu 에 대한 CSS를 구현 */
    width: calc(100% /3);
    padding: 10px;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 10px 10px 0px 0px;
  }

  .focused {
    /* 선택된 Tabmenu 에만 적용되는 CSS를 구현 */
    background-color:  #dcdcdc;;
    color: rgb(21,20,20);
  }

  & div.desc {
    padding-left: 5px;
    text-align: left;
  }
}

.Desc {
  text-align: left;
  margin: 0px 5px 5px 5px;
  width: 500px;
  height: 150px;
  background-color: #dcdcdc;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px 10px 10px 10px;
}

.desc {
  text-align: left;
  margin: 0px 5px 5px 5px;
  width: 500px;
  height: 150px;
  background-color: #dcdcdc;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
}